*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body{
    background-color:black;
}
.container{
    width: 700px;
    margin:50px auto 5px;
   
}
.container h1{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.container .inputs{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  
}
.inputs input{
    width: 80%;
    padding:8px;
  margin-right: 2px;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  border: none;
    
}
.inputs button{
    width: 20%;
    border: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color:orangered;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}
.images{
    padding:5px;
}

.images img{
    width: 225px;
    height: 225px;
    margin:2px;
    cursor: pointer;
}
.button{
    width: 90px;
    padding:6px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: orangered;
    color: #fff;
    display: none;
    margin:5px auto 10px;
    cursor: pointer;
 
}